*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.fixed-width{
    max-width: 1000px;
    margin: 0 auto;
}
.fixed-2{
    max-width: 1137px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-end{
    text-align: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* header Section  */
.header-section{
    background-color: #1b1b1b;
}
.header-section .logo{
    width: 20%;
}
.header-section .logo img{
    width: 91px;
    margin-top: 13px;
}
.header-section .header-menu{
    width: 60%;
}
.header-section .header-menu ul li{
    display: inline-block;
    margin-left: -4px;
    position: relative;
}
.header-section .header-menu ul li a{
    display: block;
    color: #fff;
    /* background: red; */
    line-height: 38px;
    padding: 20px 33px;
    font-size: 20px;
    font-family: sans-serif;
  
}
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1b1b1b;
    text-align: left;
    width: 213px;
    border-top: 3px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    transform: scaleY(0);
    transform-origin: bottom;
}
.header-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.header-menu ul li ul li{
    display: block !important;
    margin-left: 0 !important;
}
.header-menu ul li ul li a {
    display: block !important;
    padding: 10px 18px !important;
   
}
.header-menu ul li ul li a::after{
    content: "";
    width: 0;
    height: 0;
}
.header-menu ul li ul li a:hover{
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

/* header menu after use  */
.header-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 31px;
    width: 0%;
    height: 2%;
    background-color: #fff;
    transition: all .3s;
}
.header-menu ul li:hover > a::after{
    width: 51%;
}

/* Bannar Section  */
.bannar-section {
    background-image: url(image/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
}
.bannar-text{
    display: inline-block;
    margin-top: 163px;
}
.bannar-text h1{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 42px;
}
.bannar-text p{
    font-weight: 700;
    font-size: 19px;
    margin: 15px 0px;
    font-family: sans-serif;
}
.bannar-text a.bannar-btn1 {
    background: black;
    display: inline-block;
    padding: 19px 39px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-right: 20px;
    transition: .2s;
}
.bannar-text a.bannar-btn1:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    color: #000;
}
.bannar-text .bannar-btn2{
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}
.bannar-text .bannar-btn2:hover{
    background-color: black !important;
    color: #fff !important;
    border: none !important;
}

/* about section  */
.about-section {
    background: #84A16F;
    padding: 41px 0px;
}
.about-us{
    text-align: center;
    margin-bottom: 34px;
}
.about-us h1 {
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
    text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 4px #fff;
    font-size: 43px;
}
.about-content{}
.about-text{
    width: 55%;
    color: #fff;
    font-family: sans-serif;
    margin-top: 51px;
    line-height: 22px;
    font-size: 15px;
    margin-left: 33px;
}
.about-text p{}
.about-text .cut-p{
    width: 480px;
    margin-top: 1px;
}
.about-img{
    width: 31%;
    height: 261px;
}
.about-img img{
    max-height: 100%;
}

/* container section  */
.container{
    background-color: #555F59;
    padding: 53px 0px;
}
.container .container-text{
    color: #fff;
    text-align: center;
}
.container .container-text h1{
    font-size: 53px;
    font-family: sans-serif;
    display: inline-block;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    padding: 10px 20px;
    margin-bottom: 13px;
    text-shadow: 1px 1px 4px #fff;
}
.container .container-text h2{
    font-family: sans-serif;
    font-size: 38px;
    margin-bottom: 19px;
}
.container .container-text p{
    font-family: sans-serif;
    width: 757px;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
}
.container .container-box {
    margin-top: 83px;
}
.box-1 {
    font-family: sans-serif;
    width: 24.33%;
    padding: 39px 31px;
    /* border: 1px solid #fff; */
    /* box-sizing: border-box; */
    background: #fff;
    border-radius: 19px;
    margin-right: 40px;
}
.box-1 .container-img{
    width: 20%;
    /* margin-right: -3px; */
}
.box-1 .box-text{
    width: 76%;
}
.box-1 .box-text h1{
    margin-bottom: 13px;
}
.box-1 .box-text p{
    line-height: 24px;
}

/* Image Section  */
.img-section{
    background-color: #84a16f;
    padding: 68px 0px;
}
.image-text{
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.image-text h1{
    font-size: 37px;
    margin-bottom: 17px;
}
.image-text p{
    margin-top: 19px;
    font-family: sans-serif;
    color: #ffffff;
}
.box-img {
    
text-align: center;
    
margin: 53px 0px;
}
.box-img .boxImage{
    border: 1px solid #fff;
    width: 36%;
    display: inline-block;
    margin: 0px 23px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box-img .boxImag1 img{
 min-width: 100%;
}
.boxImage p{
    color: #47617b;
    margin-top: 21px;
    font-size: 18px;
    font-weight: 700;
}
.boxImage span{
    color: #fff;
    font-weight: 600;
    margin: 13px 0px;
    display: inline-block;
}

.image4{
    text-align: center;
    width: 1061px;
    margin: 0 auto;
}
.image4 .img{
    display: inline-block;
    width: 231px;
    margin: 1px 15px;
    /* border: 2px solid black; */
}

/* team Section  */
.team-section{
    background-color: #559171;
    padding: 17px 0px;
}
.team-text{
    text-align: center;
}
.team-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 0px;
    color: #fff;
    font-size: 37px;
    display: inline-block;
    text-transform: uppercase;
    margin: 48px 0px;
    position: relative;
}

.team-section h2::after {
    content: "";
    width: 82%;
    height: 6%;
    position: absolute;
    top: 60px;
    left: 44px;
    background-color: #fff;
}

.team-img{
    text-align: center;
}
.team-img .team {
    width: 300px;
    display: inline-block;
    margin: -1px 13px;
}
.team-img .team .team-social ul{
    text-align: center;
}
.team-img .team .team-social ul li{
    margin: 10px;
    display: inline-block;
}
.team-img .team .team-social ul li a{
    color: #fff;
    font-size: 27px;
  
}
.team-img .team .team-social ul li a:hover{
    color: yellow;
}


/* Footer text */
.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    padding: 85px 0px;
    text-align: center;
    color: #fff;
    background-color: #555f59;
}
.footer-text h2{
    font-size: 37px;
    margin-bottom: 12px;
}
.footer-text p{
    width: 678px;
    margin: 0 auto;
    line-height: 25px;
}
.footer-text a {
    color: #fff;
    text-transform: uppercase;
    background: #00ba9b;
    padding: 14px 40px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 4px;
    font-size: 13px;
    transition: .3s;
}
.footer-text a:hover{
    background-color: #6389a4;
}
/* Footer section  */
.footer-section{
    text-align: center;
    background-color: #000000;
    padding: 20px 0px;
}
.footer-section p {
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}